html {
  /* size html box according to width/height dimensions */
  box-sizing: border-box;
}

*, *::before, *::after {
  /* inherit border-box value from html or the value defined by an element's parent override */
  box-sizing: inherit;
  /* remove margin/padding defaults */
  margin: 0;
  padding: 0;
}

html, body {
  /* perhaps not necessary given universal rule above?:
    padding: 0;
    margin: 0;
  */
    
  /* size html and body to be 100% of their parent (the viewport), instead of fitting to their contents. */
  width: 100%;
  height: 100%;
}

body {
  /* we wouldn't want to change the root element's font-size, as that will prevent the user's browser/mobile font-size setting from taking effect. */
  /* override `inherit` default on the body to encourage EM unit scaling independent of REM units.  */
  font-size: 16px;
}
